.fancy-textbox-inline {
    border-bottom: #ccc solid 1px;
    height: 1.4em;
    display: inline-block;
}

.fancy-textbox-inline-multiline {
    border-bottom: #ccc solid 1px;
    display: inline-block;
}