<a href="@href" class="btn btn-primary" @onclick="@(() => OnClick?.Invoke())"
   style="background-color: @(Color ?? "#1b6ec2");">
    @ChildContent
</a>

@code {

    [Parameter]
    public string? href { get; set; }

    [Parameter]
    public RenderFragment ChildContent { get; set; }

    [Parameter]
    public string? Color { get; set; }

    [Parameter]
    public Func<Task>? OnClick { get; set; }

}
