<a href="@href" class="btn btn-primary" @onclick="Callback"
   style="background-color: @(Color ?? "#1b6ec2"); @(Round ? "border-radius: 25px;" : "")">
    @ChildContent
</a>

@code {

    [Parameter]
    public string? href { get; set; }

    [Parameter]
    public RenderFragment ChildContent { get; set; }

    [Parameter]
    public string? Color { get; set; }

    [Parameter]
    public Func<Task>? OnClick { get; set; }
    
    [Parameter]
    public bool Round { get; set; }

    private void Callback() {
        if (OnClick is not null)
            OnClick();
    }

}
